{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center">Login</h2>
                    <p class="text-center">If you have not created an account yet, then please <a href="/accounts/signup/" class="text-decoration-none">sign up</a> first.</p>
                    <form method="post" class="mt-4">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name == 'remember' %}
                                <div class="row mb-3">
                                    <div class="col-sm-8 offset-sm-4 d-flex align-items-center">
                                        <div class="form-check">
                                            {{ field|add_class:"form-check-input" }}
                                            <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row mb-3">
                                    <label class="col-sm-4 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    <div class="col-sm-8">
                                        {{ field|add_class:"form-control" }}
                                        {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                        {% endif %}
                                        {% for error in field.errors %}
                                            <div class="text-danger">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <input type="hidden" name="next" value="{{ next }}" />
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
