{% extends 'base.html' %}
{% load django_tables2 %}  <!-- This line loads the django_tables2 custom template tags -->

{% block content %}
<div class="row">
    <div class="col-12">
        <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#guidelineModal">
            Add Guideline
        </button>
        <!-- The Modal -->
        <div class="modal fade" id="guidelineModal" tabindex="-1" aria-labelledby="guidelineModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="guidelineModalLabel">Add New Guideline</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Form Start -->
                        <form id="guideline-form" action="{% url 'guideline_view' %}" method="post" class="mt-3">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Name:</label>
                                <div class="col-sm-8">
                                    {{ form.name }}
                                </div>
                            </div>
{#                            <div class="form-group row">#}
{#                                <label class="col-sm-4 col-form-label">Description:</label>#}
{#                                <div class="col-sm-8">#}
{#                                    {{ form.description }}#}
{#                                </div>#}
{#                            </div>#}
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">External URL:</label>
                                <div class="col-sm-8">
                                    {{ form.external_url }}
                                </div>
                            </div>
{#                            <div class="form-group row">#}
{#                                <label class="col-sm-4 col-form-label">Metadata:</label>#}
{#                                <div class="col-sm-8">#}
{#                                    {{ form.metadata }}#}
{#                                </div>#}
{#                            </div>#}
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Medical Speciality:</label>
                                <div class="col-sm-8">
                                    {{ form.medical_speciality }}
                                </div>
                            </div>
                        </form>
                        <!-- Form End -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" form="guideline-form">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <input type="text" class="form-control" placeholder="Search/Filter..." id="searchInput" onkeyup="searchTable()" autofocus>
        <!-- Form for Bulk Deletion -->
        <form method="post" action="{% url 'bulk_delete_guidelines' %}">
            {% csrf_token %}
            {% render_table table %}
            <button type="submit" class="btn btn-danger">Delete Selected</button>
        </form>
    </div>
</div>
    
{% endblock %}

{% block scripts %}
<script>

function toggleAll(source) {
    checkboxes = document.getElementsByName('selection');
    for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
    }
}

function searchTable() {
    var input, filter, table, tr, td, i, j, txtValue, cellFound;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.getElementsByTagName("table")[0];
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 1; i < tr.length; i++) {  // start at 1 to skip the header row
        td = tr[i].getElementsByTagName("td");
        cellFound = false;  // This flag indicates if any cell in the row matches the search

        for (j = 0; j < td.length; j++) {
            if (td[j]) {
                txtValue = td[j].textContent || td[j].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    cellFound = true;
                    break;  // Stop checking more cells, one match is enough for this row to be visible
                }
            }
        }

        if (cellFound) {
            tr[i].style.display = "";
        } else {
            tr[i].style.display = "none";
        }
    }
}
</script>
{% endblock scripts %}
