{% extends 'base.html' %}
{% load django_tables2 %}  <!-- Loading django_tables2 tags to use render_table -->

{% block content %}
<div class="row">
    <div class="col-12">
        {% if is_authenticated %}
            <h2>Favourite Guidelines</h2>
            <!-- Simple search/filter functionality -->
            <input type="text" class="form-control" placeholder="Search/Filter..." id="searchInput" onkeyup="searchTable()" autofocus>
            {% render_table table %}
        {% else %}
            <p>Please <a href="{% url 'login' %}">login</a> to view this page.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

    document.addEventListener('DOMContentLoaded', (event) => {
        // Add click event listeners to all unfavourite buttons
        document.querySelectorAll('.unfavourite-btn').forEach(button => {
            button.addEventListener('click', function() {
                const guidelineId = this.getAttribute('data-id');
                unfavouriteGuideline(guidelineId, this);
            });
        });
    });

    function unfavouriteGuideline(guidelineId, buttonElement) {

        var urlTemplate = `{% url 'unfavourite_guideline' '999' %}`;
        var fetchUrl = urlTemplate.replace('999', guidelineId);

        fetch(fetchUrl, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken') // Assumes you have a getCookie function defined
            },
            body: JSON.stringify({'guidelineId': guidelineId})
        })
        .then(response => response.json())
        .then(data => {
            if(data.status === 'ok') {
                // Assuming you want to remove the row of the unfavourited guideline
                buttonElement.closest('tr').remove();
            } else {
                // Handle error
                alert('Could not unfavourite the guideline. Please try again.');
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    // Function to get CSRF token from cookies
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}



function searchTable() {  // Function to filter/search table
    var input = document.getElementById("searchInput");
    var filter = input.value.toUpperCase();
    var table = document.getElementsByTagName("table")[0];
    var tr = table.getElementsByTagName("tr");

    for (var i = 1; i < tr.length; i++) {  // Start from 1 to skip the header row
        var td = tr[i].getElementsByTagName("td");
        var cellFound = false;
        for (var j = 0; j < td.length; j++) {
            if (td[j]) {
                var txtValue = td[j].textContent || td[j].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    cellFound = true;
                    break;
                }
            }
        }
        tr[i].style.display = cellFound ? "" : "none";
    }
}
</script>
{% endblock scripts %}
