{% extends 'base.html' %}
{% load django_tables2 %}
{% load widget_tweaks %}


{% block content %}
  <h2>UHD Trust's Clinical Guidelines</h2>


<div class="form-group">
  <div class="input-group">
    <input type="text" name="search" class="form-control" placeholder="Search guidelines..." hx-get="{% url 'trust_guideline_view' %}" hx-target="#table-container" hx-trigger="keyup changed delay:200ms">
  </div>
</div>
    <div id="table-container">
    {% include 'tableapp/partials/trust_guideline_table_partial.html' %}
  </div>
{% endblock %}

{% block scripts %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    console.log('Results element:', document.getElementById('results'));
  });
</script>
<script>
    // Function to toggle favourite status
    function toggleFavourite(guidelineId) {
        $.ajax({
            url: '{% url "add_to_favourites" 0 %}'.replace('0', guidelineId),
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                var btn = $(".favourite-btn[data-id='" + guidelineId + "']");
                if (response.created) {
                    btn.text('Unfavourite');
                    btn.removeClass('btn-primary').addClass('btn-warning');
                } else {
                    btn.text('Favourite');
                    btn.removeClass('btn-warning').addClass('btn-primary');
                }
            },
            error: function(xhr, status, error) {
                console.error('Error favouriting:', status, error);
                alert('Failed to update favourite status. Please try again.');
            }
        });
    }

    $(document).ready(function() {
        $(document).on('click', '.favourite-btn', function() {
            var guidelineId = $(this).data('id');
            toggleFavourite(guidelineId);
        });
    });
</script>
{% endblock scripts %}
